/* Dimension input group */
.minimal-width-addons .input-group-text {
  padding: 0.375rem 0.7rem;
}

.dimension-toolbar .form-control {
  height: 100%;
  min-width: 0;
  transition: min-width 0.2s ease-out;
}

.dimension-toolbar .form-control:focus {
  min-width: 5.5em;
}
