@charset "utf-8";

// Basic layout
$line-height-base: 1.6;
$font-family-sans-serif: "Fira Sans", sans-serif;
$font-family-monospace: "Fira Mono", monospace;

// Bootstrap core
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Bootstrap components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/media";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/jumbotron";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/list-group";

// Navbar
.navbar {
  background-color: white;

  .navbar-brand {
    font-weight: bold;
  }

  // Nav item positioning
  .navbar-nav .nav-item {
    position: relative;
    top: 0.07rem;

    .nav-link {
      color: rgba(0, 0, 0, 0.6);

      &:hover {
        color: rgba(0, 0, 0, 0.75);
      }
      &.active {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
  .fab.fa-github {
    position: relative;
    top: 0.05rem;
  }

  .navbar-collapse.collapse.show .d-md-none,
  .navbar-collapse.collapsing .d-md-none {
    display: none;
  }
}

// Jumbotron
.jumbotron {
  background-color: white;

  h1, h2, h3 {
    position: relative;
    left: -0.15rem; // Visual alignment
  }

  code {
    color: $gray-800;
  }
}

// Typography
.media strong {
  font-weight: 500;
}
.media > i {
  font-size: 3em;
  width: 64px;
  text-align: center;
  color: $gray-600;
  position: relative;
  top: 0.5rem;
}
code {
  font-size: inherit;
}
.font-weight-light {
  h5 {
    font-weight: 400;
  }
}
.text-light {
  a {
    color: white !important;
    opacity: 0.75;
  }
  code {
    color: white !important;
    opacity: 0.75;
  }
}

.trapezoid {
  .h4 {
    font-weight: 400;
  }

  p {
    font-weight: 400;
  }

  strong {
    font-weight: 500;
  }
}

// Footer
footer {
  opacity: 0.6;
  color: $gray-800;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.screenshot {
  text-align: center;
  img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
  }
  small {
    display: block;
    margin-top: 1em;
  }
}

// Divider
// TODO: Move to SVG fragments as soon as Firefox supports them;
// An SVG that supports different views is already in the repository.
// (see https://bugzilla.mozilla.org/show_bug.cgi?id=1535822)
hr.divider, hr.divider-up, hr.divider-down {
  background-color: #ffc32d;
  border: none;
  height: 22px;
  -webkit-mask-image: url(/media/theme/divider-horizontal.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 22px;
  mask-image: url(/media/theme/divider-horizontal.svg);
  mask-size: 100% 22px;
}

hr.divider-up {
  -webkit-mask-image: url(/media/theme/divider-up.svg);
  -webkit-mask-size: 100% 22px;
  mask-image: url(/media/theme/divider-up.svg);
  mask-size: 100% 22px;
}

hr.divider-down {
  -webkit-mask-image: url(/media/theme/divider-down.svg);
  -webkit-mask-size: 100% 22px;
  mask-image: url(/media/theme/divider-down.svg);
  mask-size: 100% 22px;
}
