# build files
docs/_build*
__pycache__
packages/library/dist
packages/library/coverage

# Saucelabs connection logs
packages/library/sauce_connect.log

# yarn
node_modules
yarn-error.log

# Visual studio code
.vscode

# lerna
lerna-debug.log

# Webpack
packages/library/bundleStats.json
