# build files
docs/_build*
__pycache__
packages/library/dist

# Test coverage reports
packages/library/coverage
coverage

# Saucelabs connection logs
packages/library/sauce_connect.log

# yarn
node_modules
yarn-error.log

# Visual studio code
.vscode

# lerna
lerna-debug.log

# Webpack
packages/library/bundleStats.json

# Shiny app credentials
utilities/SQLite import app/rsconnect
