footer a.logo img {
  position: relative;
  top: -2px;
  width: 24px;
  /* Use an exponential transition function
     to move the bulk of the action forward */
  transition: filter 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  filter: grayscale(100%) brightness(60%);
}

footer a:hover {
  text-decoration: none;
}

footer a.logo:hover img {
  filter: grayscale(0%) brightness(100%);
}

footer a.logo small {
  color: #6c757d;
  transition: all 0.3s ease-out;
  opacity: 0;
}

footer a.logo:hover small {
  margin-left: 2px;
  color: #ffc32d;
  transition: all 0.3s ease-out, color 0s;
  opacity: 1;
}
