/* Add spacing above if placed
   directly underneath a card header
   (the intermediate div is from a Fieldset) */
div.card div.card-header + div > table.grid {
  margin-top: 0.25rem;
}

/* Remove table's upper border if placed
   directly underneath a card header */
div.card div.card-header + div > table.grid thead th,
div.card table.grid.no-header tbody tr:first-child td {
  border-top: none;
}

/* Remove lower border if last element in
   a card */
div.card > div:last-child table.grid {
  border-bottom: none;
  margin-bottom: 0;
}

/* Add border to table bottom */
div.card table.grid {
  border-bottom: 2px solid #eceeef;
}

/* Header styles */
div.card table.grid thead th {
  font-weight: 500;
}

/* Hide header if requested */
div.card table.grid.no-header thead {
  display: none;
}

/* Left- and rightmost columns */
div.card > table.grid tr td:first-child,
div.card > table.grid tr th:first-child {
  padding-left: 0.75rem;
}

div.card > table.grid tr td:last-child,
div.card > table.grid tr th:last-child {
  padding-right: 0.75rem;
}

/* Interior columns */
table.grid td, table.grid th, table.grid tfoot td {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

/* Buttons */
/* TODO: There are some weird things going on with
   transition states -- buttons may assume a gray
   background while transitioning from active to
   normal state, which is (minimally) annoying.
   If these issues are solved, the styles might
   be moved into the global stylesheet.
   (then again, the toolbar buttons look different) */
table.grid button.btn:active, table.grid button.btn:focus {
  background-color: white;
}
/* Icon placement */
table.grid button.btn i {
  position: relative;
  top: 1px;
}

/* Footer */
table.grid tfoot td {
  font-size: 0.8rem;
  text-align: center;
}
table.grid tfoot td {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

table.grid tfoot td button.hover-target {
  transition: margin-top 0.15s, margin-bottom 0.15s;
}
table.grid tfoot:hover td button.hover-target {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
