/* Set box model to border-box globally */
:root {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* Overall layout */
body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4em;
}

header, main, footer {
  padding: 16px;
}

/* Individual sections */
header {
  color: white;
  background: #ffc32d;
  border-bottom: 2px solid #f0ac00; /* -30 luminance */
  text-align: center;
  min-height: 50vh;
}

main {
  color: #555;
}

.dnd-hint {
  text-align: center;
}
