.template-tab .card {
  max-height: 225px;
  overflow-y: auto;
  margin: 0 -1rem;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.template-tab .card .list-group-item {
  padding-left: 1rem;
  padding-right: 1rem;
}
