.card.add-component-card {
  cursor: pointer;
}
.card.add-component-card:hover .card-header {
  color: white;
  background-color: #0275d8;
}

.card.add-component-card .card-header {
  padding: 1.5rem;
}
.card.add-component-card .card-header i.fa {
  font-size: 2rem;
}

.card.add-component-card .card-block {
  text-align: center;
  padding: 1.25rem 0.75rem; /* Reduce padding on the sides to make more room */
}
.card.add-component-card .card-block h6.card-subtitle:last-child {
  margin-bottom: 0 !important;
}

.card .card-header + .list-group > .list-group-item:first-child {
  border-top: none;
}
