/* Navigation pill styles */
.tree-node a.nav-link {
  padding: 0;
  border-radius: 0.25rem;
  border: 1px solid transparent;
}
.tree-node a.nav-link.active {
  color: rgb(2, 117, 216);
  background-color: rgb(247, 247, 249);
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.tree-node a.nav-link.isDragging {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

/* Content spacing */
.tree-node a.nav-link {
  display: flex;
  min-height: 45px;
}
.tree-node a.nav-link div.nav-link-main {
  flex-grow: 1;
  padding-top: calc(0.5rem + 2px); /* Vertical baseline alignment */
  cursor: move;
}
.tree-node a.nav-link > div {
  padding: 0.5rem;
}
.tree-node a.nav-link > div:first-child {
  padding-left: 1rem;
}
/* If there is no hidden button or drop target,
   nevertheless use equal spacing.
   TODO: There should be a spacer in every case */
.tree-node .nav.nav-pills li.nav-item:first-child {
  margin-top: 4px;
}

/* Icon indicators */
.tree-node a.nav-link .fa {
  opacity: 0.25;
  font-size: 0.7em;
  margin-left: 0.6em;
  position: relative;
  top: -0.05em;
}

/* Tree indentation */
.tree-node li.nav-item ul.nav-pills {
  margin-left: 0.75rem;
}
