body {
  font-family: 'Fira Sans';
  line-height: 1.6em;
}
.jumbotron, .navbar {
  background-color: #ffc32d;
}
.navbar.navbar-light * {
  color: white !important;
}
.navbar .navbar-brand {
  font-weight: 700;
  letter-spacing: 0.04rem;
}
.navbar .navbar-nav {
  position: relative;
  top: 0.025rem;
}
.navbar .fa {
  font-size: 2rem;
}
.jumbotron {
  padding: 2rem 1.5rem;
  border-bottom: 4px solid #f0ac00; /* -30 luminance */
}
.jumbotron .container {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar + .jumbotron .container {
  margin-bottom: 54px; /* balance the navbar, if present */
}
body > hr {
  border-top-width: 4px;
  margin: 2rem 0;
}
p.lead {
  line-height: 1.6em;
}
div.image-caption {
  line-height: 1.2rem;
}
img.screenshot {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}
.further-links div.icon {
  height: 5.5rem;
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 1rem 0;
}
footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}
footer a {
  opacity: 0.6;
}
