/* Sidebar */
.wy-nav-side {
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}

/* Top left: logo and search */
.wy-side-nav-search {
  background-color: rgb(255, 195, 45);
  border-bottom: 1px solid hsl(42, 100%, 50%); /* Lightness -9 points */
}

.wy-side-nav-search > a img.logo {
  height: 128px;
  width: 128px;
}

.wy-side-nav-search span.version {
  opacity: 0.5;
}

.wy-side-nav-search input[type="text"] {
  border-color: white;
}

/* Navigation */
.wy-menu-vertical a, .wy-menu-vertical li.current > a {
  padding-left: 1.45em;
}

.wy-menu-vertical a:hover {
  background-color: #eee;
}

.wy-menu-vertical a:active {
  background-color: rgb(255, 195, 45);
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  padding-top: 0.25rem;
}

/* Content */
.wy-nav-content footer, .wy-nav-content footer p {
  font-size: 0.8rem;
}

.wy-nav-content footer {
  opacity: 0.5;
}

.wy-nav-content footer div, .wy-nav-content footer p {
  display: inline;
}
