/* Sidebar */
.wy-nav-side {
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}

/* Top left: logo and search */
.wy-side-nav-search {
  background-color: rgb(255, 195, 45);
  border-bottom: 1px solid hsl(42, 100%, 50%); /* Lightness -9 points */
}

.wy-side-nav-search > a img.logo {
  height: 128px;
  width: 128px;
}

.wy-side-nav-search span.version {
  opacity: 0.5;
}

.wy-side-nav-search input[type="text"] {
  border-color: white;
}

/* Top navigation for small screens */
.wy-nav-top {
  background-color: rgb(255, 195, 45);
}

/* Navigation */
.wy-menu-vertical a, .wy-menu-vertical li.current > a {
  padding-left: 1.45em;
}

.wy-menu-vertical a:hover {
  background-color: #eee;
}

.wy-menu-vertical a:active {
  background-color: rgb(255, 195, 45);
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  padding-top: 0.25rem;
}

/* Content */
.wy-nav-content footer, .wy-nav-content footer p {
  font-size: 0.8rem;
}

.wy-nav-content footer {
  opacity: 0.5;
}

.wy-nav-content footer div, .wy-nav-content footer p {
  display: inline;
}

/* Quick navigation grid */
table.quicknav {
  width: 100%;
  margin: 3rem 0 1rem;
}

table.quicknav tr td:nth-child(odd) {
  width: 8%;
  font-size: 3rem;
  text-align: center;
}

table.quicknav tr td:nth-child(even) {
  width: 42%;
  padding: 0.75rem;
  padding-right: 2rem;
}

table.quicknav a, table.quicknav .fa {
  color: #0070d9;
}

table.quicknav td > a:first-child {
  font-weight: bold;
}

/* Ad placement
   (push add to the bottom if there is space) */
.wy-side-scroll {
  display: flex;
  flex-direction: column;
}

.wy-menu.wy-menu-vertical {
  flex: 1;
}

.rtd-pro.wy-menu, .rst-pro.wy-menu {
  margin-bottom: 0;
  padding-bottom: 16px;
}

/* Video embedding */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 24px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
