/* Dimension input group */
.minimal-width-addons .input-group-addon {
  min-width: 2.5em;
}
.minimal-width-addons .fa {
  width: 100%;
}

.dimension-toolbar .form-control {
  min-width: 0;
  transition: min-width 0.2s ease-out;
}

.dimension-toolbar .form-control:focus {
  min-width: 5.5em;
}

/* Color dropdowns */
div.color-dropdown .dropdown-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

div.color-dropdown .dropdown-item:active {
  background-color: var(--light);
}

div.color-swatch {
  width: 61px;
  height: 40px;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
}

div.color-swatch:hover {
  border-color: var(--gray) !important;
}
